body {
    font-family:serif;
    text-align: center;
}

#your-hand img{
    height: 125px;
    width: 100px;
    margin: 1px
}

#house-hand img {
    height: 125px;
    width: 100px;
    margin: 1px
}